<div>
	<div class="container">
		<img src="assets/images/inspectocat.jpg" class="img-fluid logo" alt="Inspectocat">
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<form action="" class="search-form" (keydown)="findProfile($event)">
				<div class="form-group input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control input-shadow" placeholder="Search Github with username" [(ngModel)]="username" name="username">
				</div>
			</form>
		</div>

		<div class="panel-body" *ngIf="profile">
			<div class="row">
				<div class="col-sm-3">
					<a href="{{profile.html_url}}" target="_blank"><img src="{{profile.avatar_url}}" class="img-fluid img-thumbnail" alt="Profile Image"></a>

					<p class="text-center">{{profile.name}} <small>({{profile.login}})</small></p>

					<p class="text-center"><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
				</div>

				<div class="col-sm-9">
					<div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{profile.name}}'s Repos</h3>
							</div>
							<div class="panel-body">
								<div class="list-group">
										<a href="{{repo.html_url}}" target="_blank" *ngFor="let repo of repos" class="list-group-item list-group-item-action flex-column align-items-start">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1">{{repo.name}}</h5>
												<small>3 days ago</small>
											</div>
											<p class="mb-1">{{repo.description}}</p>
											<small>Forks <span class="badge">{{ repo.forks}}</span></small>&nbsp;&nbsp;&nbsp;
											<small>Watchers <span class="badge">{{ repo.watchers}}</span></small>
										</a>
								</div>
							</div>
						</div>
					</div>

					<br />

					<div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{profile.name}}'s Gists</h3>
							</div>
							<div class="panel-body">
								<div class="list-group">
										<a href="{{gist.html_url}}" target="_blank" *ngFor="let gist of gists" class="list-group-item list-group-item-action flex-column align-items-start">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1">{{gist.description}}</h5>
												<small>3 days ago</small>
											</div>
										</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>